<h3><%= "You Mark :: we remember, so you don't have to" if current_user.youtube_links.count == 0 %></h3>
<aside>
<%= form_for(@youtube_link) do |form| %>
  <fieldset>
    <%= form.label :url %>
    <%= form.text_field :url, placeholder: 'YouTube URL' %>
  </fieldset>
  <%= form.submit "Add" %>
<% end -%>
<%= link_to 'remove marked', '', id: 'delete_checked_links' %>
</aside>

<table id="bookmarks">
  <thead>
    <tr>
      <th>
        Image
      </th>
      <th>
        URL
      </th>
      <th>
        Delete 
      </th>
    </tr>
  </thead>
  <tbody>
    <% for link in current_user.youtube_links %>
      <% unless link.new_record? %>
        <%= content_tag :tr, id: "youtube_link_#{link.id}" do %>
          <td> <%= raw thumbnail_url(link) %> </td>
          <td <%= "data-id='#{link.video_id}'" if link.video_id %>><%= link_to link.url,link.url %></td>
          <td><%= check_box_tag 'delete_youtube_link' %>  <%= link_to 'remove', link, method: :delete %></td>
        <% end -%>
      <% end -%>
    <% end -%>
  </tbody>
</table>
