<h3><%= "You Mark :: we remember, so you don't have to" if current_user.youtube_links.count == 0 %></h3>
<aside>
<%= form_for(@youtube_link) do |form| %>
  <fieldset>
    <%= form.label :url %>
    <%= form.text_field :url, placeholder: 'YouTube URL' %>
  </fieldset>
  <%= form.submit "Add" %>
<% end -%>
</aside>

<table id="bookmarks">
  <thead>
    <tr>
      <th>
        URL
      </th>
      <th>
        X 
      </th>
    </tr>
  </thead>
  <tbody>
    <% for link in current_user.youtube_links %>
      <tr>
        <% unless link.new_record? %>
          <td><%= link_to link.url,link.url %></td>
          <td><%= link_to 'remove', link, method: :delete %></td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
